In [12]:
import oracledb
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
oracledb.init_oracle_client()

In [15]:
print(sqlalchemy.__version__)
print(oracledb.__version__)

2.0.23
1.4.2

In [2]:
html = """
<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" hs-webfonts="true" href="https://fonts.googleapis.com/css?family=Lato|Lato:i,b,bi">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <style>
    table {
        background: white;                                                
        border-collapse: collapse;
        border-radius: 5px;
        
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        margin:0px auto;
        width:100%;                                                
    }                                                                    
    
    table, th, td{
        border: 1px solid #C1C3D1;
    }
    
    td{
        padding: 5px;
        min-width:125px;
        max-width:500px;
    }
    
    tr{
        color:#262626; 
          font-size:14px;
          font-weight:normal;
          text-wrap:normal;
    }
    
    td a{
        text-decoration:none;
    }
    
    td a:hover{
        text-decoration:underline;
        color:#ffffff;
        font-weight:300;
        font-size:14px;
    }
    
    th{
        background-color: #FF8C00;/*#228B22;*/
        border-bottom-color:#228B22;
        color:#ffffff;                                                
        font-size:14px;
        font-weight:bold;
        padding:10px 5px;
        text-align:left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        vertical-align:middle;
        text-align:center;
    }
    
    tr:hover td{
      background:#58585a;
      color:#FFFFFF;
      border-top: 1px solid #22262e;
      border-bottom: 1px solid #22262e;
    }
</style>
    </head>
<body style="width: 100%; font-size:15px;">
    <div>
  <p>SAMPLE:</p>
  
  <style type="text/css">
#T_366c8_row0_col0, #T_366c8_row0_col1, #T_366c8_row0_col2, #T_366c8_row0_col3, #T_366c8_row0_col4, #T_366c8_row0_col5, #T_366c8_row0_col6, #T_366c8_row1_col0, #T_366c8_row1_col1, #T_366c8_row1_col2, #T_366c8_row1_col3, #T_366c8_row1_col4, #T_366c8_row1_col5, #T_366c8_row1_col6, #T_366c8_row2_col0, #T_366c8_row2_col1, #T_366c8_row2_col2, #T_366c8_row2_col3, #T_366c8_row2_col4, #T_366c8_row2_col5, #T_366c8_row2_col6 {
  background-color: white;
}
</style>
<table id="T_366c8">
  <thead>
    <tr>
      <th id="T_366c8_level0_col0" class="col_heading level0 col0" >SAMPLE</th>
      <th id="T_366c8_level0_col1" class="col_heading level0 col1" >SAMPLE</th>
      <th id="T_366c8_level0_col2" class="col_heading level0 col2" >SAMPLE</th>
      <th id="T_366c8_level0_col3" class="col_heading level0 col3" >SAMPLE</th>
      <th id="T_366c8_level0_col4" class="col_heading level0 col4" >SAMPLE</th>
      <th id="T_366c8_level0_col5" class="col_heading level0 col5" >SAMPLE</th>
      <th id="T_366c8_level0_col6" class="col_heading level0 col6" >SAMPLE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_366c8_row0_col0" class="data row0 col0" >SAMPLESAMPLESAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row0_col1" class="data row0 col1" >085SAMPLESAMPLESAMPLEGD</td>
      <td id="T_366c8_row0_col2" class="data row0 col2" >BSAMPLESAMPLESAMPLEng</td>
      <td id="T_366c8_row0_col3" class="data row0 col3" >Ngày</td>
      <td id="T_366c8_row0_col4" class="data row0 col4" >ToSAMPLESAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row0_col5" class="data row0 col5" >08/12/2023 - 14:00:00</td>
      <td id="T_366c8_row0_col6" class="data row0 col6" >NSAMPLESAMPLESAMPLEn</td>
    </tr>
    <tr>
      <td id="T_366c8_row1_col0" class="data row1 col0" >SAMPLESAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row1_col1" class="data row1 col1" >SAMPLESAMPLESAMPLESAMPLED</td>
      <td id="T_366c8_row1_col2" class="data row1 col2" >BáSAMPLESAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row1_col3" class="data row1 col3" >SAMPLESAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row1_col4" class="data row1 col4" >TSAMPLESAMPLESAMPLESAMPLEng</td>
      <td id="T_366c8_row1_col5" class="data row1 col5" >08/12/2023 - 14:00:00</td>
      <td id="T_366c8_row1_col6" class="data row1 col6" >NSAMPLESAMPLESAMPLESAMPLEHiện</td>
    </tr>
    <tr>
      <td id="T_366c8_row2_col0" class="data row2 col0" >SAMPLESAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row2_col1" class="data row2 col1" >0SAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row2_col2" class="data row2 col2" >SAMPLESAMPLESAMPLESAMPLEợ</td>
      <td id="T_366c8_row2_col3" class="data row2 col3" >SAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row2_col4" class="data row2 col4" >SAMPLESAMPLESAMPLESAMPLE</td>
      <td id="T_366c8_row2_col5" class="data row2 col5" >08/12/2023 - 14:00:00</td>
      <td id="T_366c8_row2_col6" class="data row2 col6" >SAMPLESAMPLESAMPLE</td>
    </tr>
  </tbody>
</table>

  
  <p>SAMPLESAMPLESAMPLESAMPLE.</p>
  <p>SAMPLESAMPLESAMPLESAMPLE: <a href="SAMPLESAMPLESAMPLESAMPLE">LINK</a></p>
  <p>SAMPLESAMPLESAMPLE</p>
  <p>SAMPLESAMPLESAMPLESAMPLE</p>
  <p>SAMPLESAMPLESAMPLESAMPLE</p>
  <p>SAMPLESAMPLESAMPLESAMPLE</p>
  <p>SAMPLESAMPLESAMPLESAMPLESAMPLE</p>
</div>
</body>
</html>
"""

In [4]:
data = {
    "id_definition": 1,
    "service_group": "AAAA",
    "email_content": html,
    "send_to": "sample@email.com"
}

In [ ]:
query = """
INSERT INTO AUTOMAIL_JOB_LIST (ID_DEFINITION, SERVICE_GROUP, EMAIL_CONTENT, SEND_TO)
VALUES (:id_definition, :service_group, :email_content, :send_to)
"""

In [5]:
# DB that create the Table
oracle_host = ""
oracle_port = ""
oracle_service_name = ""
oracle_username = ""
oracle_password = ""

In [6]:
oracle_connection_string = oracledb.makedsn(oracle_host, oracle_port, service_name = oracle_service_name)
oracle_connection = oracledb.connect(user = oracle_username, password = oracle_password, dsn = oracle_connection_string, encoding = "UTF-16", nencoding = "UTF-16")
cursor = oracle_connection.cursor()

In [9]:
for i in range(1, 50):
    cursor.execute(query, data)
    oracle_connection.commit()

In [10]:
# Account With DBLink to Table
oracle_host = ""
oracle_port = ""
oracle_service_name = ""
oracle_username = ""
oracle_password = ""

In [ ]:
query = """
            SELECT *
            FROM AUTOMAIL_JOB_LIST@DBLink
        """
engine = create_engine(f"oracle+oracledb://{oracle_username}:{oracle_password}@{oracle_host}:{oracle_port}?service_name={oracle_service_name}",
                        connect_args = {
                                "encoding": "UTF-16",
                                "nencoding": "UTF-16"
                            },
                        thick_mode = True,
                        pool_pre_ping = True,
                        echo_pool = True,
                        pool_size = 1)
df = pd.read_sql(query, engine)